aiohttp
aria2p==0.9.1
beautifulsoup4
bs4
cfscrape
cloudscraper 
feedparser
hachoir
html-telegraph-poster
hurry.filesize
imdbpy
js2py
lk21
lxml
mediainfo
messages
natsort
Pillow
psutil
pyrogram==2.0.30
python-dotenv
pyprog
python-telegram-bot
pybase64
requests
speedtest-cli
tgcrypto
urllib3
youtube_dl
